$gutter-vertical:8rem;
$gutter-bottom:6rem;
$small-margin-top:1.5rem;
$big-margin-top:10rem;

$body-color1:rgba(128, 128, 145, 0.87);
$body-color2:rgba(163, 143, 179, 0.877);
$body-color3: rgba(119, 106, 133, 0.877);

@mixin clearfix {
    &:after{
     content: '';
     display: table;
     clear: both;
    }
}

*,
*::after,
*::before {
    margin: 0;
    padding:0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    width: 100%;
    height: 100%;
}

body {
    font-family: sans-serif ;
    font-weight: 200;
    /*font-size: 16px;*/
    line-height: 1.2;
    color: #222;
    //padding: 2rem;
    //box-sizing: border-box;
}

main {
    background-color: rgba( $body-color2, .20);
}

.header{
    height: 95vh;
    //background-image: linear-gradient(to right bottom ,rgba(153, 35, 17, 0.89),rgba(202, 202, 31, 0.849),rgba(73, 73, 33, 0.89)) , url(../NavigationForTrip/img/claudio-schwarz-AHw0W1akIXk-unsplash.jpg);
    background-image: linear-gradient(to right bottom ,$body-color1, $body-color2, $body-color3) , url(../NavigationForTrip/img/claudio-schwarz-AHw0W1akIXk-unsplash.jpg);
    background-size:cover;
    background-position: top;
    -webkit-clip-path: polygon(0 0,100% 0,100% 100%,50% 52.5rem,0 100%);
    clip-path: polygon(0 0,100% 0,100% 100%,50% 52.5rem,0 100%);
    //clip-path: polygon(0 0,100% 75deg,100% 0,0 100%);
    position: relative;

    /*.u-static-menu {
        position: fixed;
        right: 0;
        margin-top: 4rem;
        margin-right: 4rem;
        padding: 0.5rem;
        border: 0.2rem solid black;
        border-radius:100%;
        background-color: white;

        .menu-btn {
            height: 3rem;

            &:hover{
                cursor: pointer;
            }
        }
    }*/
}

.logo-box{
    position: absolute;
}

.logo{
    height: 8rem ;
    margin-left: 4rem;
    margin-top: 4rem;
}

.logo:hover{
    cursor: pointer;
    height: 10rem;
    animation-name:globeRotate;
    animation-duration: 2s;
}

.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //border: 0.1rem solid black;//
    /*display: grid;
    grid-auto-flow: row;
    grid-template-rows: 1fr auto;*/
   /*grid-template-areas: 'htext'
                        'btn';*/


    .header-text{
        color:#fff;
        text-transform: uppercase;
        backface-visibility: hidden;
        text-align: center;
        /*grid-area: htext;
        

        display: grid;
        grid-auto-flow: row;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: 'tmain'
                            'tbottom';*/
       


        .header-text-main{
            display: block;
            font-size: 6rem;
            font-weight: 400;
            letter-spacing: 3.5rem;
            //grid-area: tmain;
            //justify-self: center;
            
            
            animation-name: movefromLeft;
            animation-duration:3s;
            }

            .header-text-bottom{
            display: block;
            font-size: 1.8rem;
            font-weight: 700;
            letter-spacing: 1.5rem;
            //grid-area: tbottom;
            //justify-self: center;
            
            animation-name:movetoLeft;
            animation-duration:3s;
            }
        }

        /*.btn {
            grid-area: btn;
            justify-self: center;
        }*/
        
        a#boxBtn {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }


        .btn-white {
            background-color: #fff;
            color: #777;
            text-align: center;
            //position: absolute;
            //left: 50%;
            //margin-left: -50%;
            //margin: 0 auto;
            margin-top: 2rem;
            }

            .btn:link,
            .btn:visited {
            text-transform: uppercase;
            text-decoration: none;
            padding:1.5rem 3rem;
            display: inline-block;
            border-radius: 4rem 4rem 4rem 4rem;
            transition: all .3s;
            position: relative;
             font-size:1.6rem;
            }

.btn:hover {
transform: translateY(-4px);
box-shadow: 0 1rem 1.5rem rgba(0,0,0,.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
}



.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 4rem 4rem 4rem 4rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
}

.btn-white::after{
    background-color: #fff;
}

.btn:hover::after{
    transform:scaleX(1.5) scaleY(1.3);
    opacity: 0;
}

/*.btn-animated{
    animation: movetoBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}*/

}


.section__content {
    max-width: 150rem;
    margin:  0 auto;
    //background-color: lighten($color: $body-color2, $amount: 50%);
    //background-color: rgba( $body-color2, .15);

    &:not(:last-child){
        margin-bottom: $gutter-bottom;
       }

       @include clearfix;

    .section__block1 {
        color: white;
        //background-color: red;
        width: calc((100% - #{$gutter-vertical}) / 2);
        float: left;
        //border: 0.2rem solid black;
        text-align: center;

        &:not(:last-child){
            margin-right: $gutter-vertical;
           }


           .block1__maintext {
               color: black;
               font-size: 2.5rem;
               font-weight: 700;
               text-transform: uppercase;
           }

           .u__marginbottom--small {
               margin-bottom: 1rem;
           }

           .paragraph {
            color: black;
            font-size: 2rem;

            &:not(:last-child){
                margin-bottom: 8rem;
               }
        }

        .btn__link {
            font-size: 2rem;
            background-image: linear-gradient(to right,darken($body-color1,20%),darken($body-color2,40%),darken($body-color3,10%));
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            text-decoration: none;
            transition: all .2s;

            &:hover {
                color: white;
                background:linear-gradient(to right,$body-color1, $body-color2, $body-color3);
                padding: 0.5rem;
                border-bottom: 0.1rem solid black;
                border-right: 0.2rem solid black;
                transform: translateY(-0.2rem);
                box-shadow: 0 0.5rem 1.5rem black;
                border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
                
            }


            &:active {
                transform: translateY(0);
            }
        }
    }

    .section__block2 {
        color: white;
        //background-color: red;
        //border: 0.2rem solid black;
        text-align: center;
        width: calc((100% - #{$gutter-vertical}) / 2);
        float: right;

        .block2__composition {
            position: relative;

            .composition__photo {
                position: absolute;
                width: 55%;
                border-radius: 0.2rem;
                box-shadow:0 2rem 3rem black;
                z-index: 1;
                transition: all .4s;
                outline-offset: 1.5rem;

                &:hover {
                    outline: 1.5rem solid $body-color3;
                    transform: scale(1.1) translateX(-0.5rem) rotate(360deg);
                    box-shadow:0 2.5rem 3.5rem black;
                    z-index: 2;
                }
            }

            .composition__photo--p1 {
              left: 0;
              top: -2rem;
            }

            .composition__photo--p2 {
              right: 0;
              top: 2rem;
            }

            .composition__photo--p3 {
              left: 20%;
              top: 10rem;
            }
        }

       &:hover  .composition__photo:not(:hover) {
           transform: scale(.95);
       }
    }
}
/*
.object2 {
    top: 5rem;
    max-width: 150rem;
    background-color: chocolate;
    margin:  0 auto;

    &:not(:last-child){
        margin-bottom: $gutter-bottom;
       }

       @include clearfix;


    .block3 {
        color: white;
        background-color: teal;
        width: calc((100% - 2 * #{$gutter-vertical}) / 3);
        float: left;
        border: 0.2rem solid black;
        text-align: center;

        &:not(:last-child){
            margin-right: $gutter-vertical;
           }
    }

    .block4 {
        color: white;
        background-color: teal;
        border: 0.2rem solid black;
        text-align: center;
        width: calc((100% - 2 * #{$gutter-vertical}) / 3);
        float: left;
        
       
        &:not(:last-child){
            margin-right: $gutter-vertical;
           }
    }

    .block5 {
        color: white;
        background-color: teal;
        border: 0.2rem solid black;
        text-align: center;
        width: calc((100% - 2 * #{$gutter-vertical}) / 3);
        float: right;
    }
}


.object3 {
    top: 5rem;
    max-width: 150rem;
    background-color: navajowhite;
    margin:  0 auto;

    &:not(:last-child){
        margin-bottom: $gutter-bottom;
       }

       @include clearfix;


       .block6 {
        color: white;
        background-color: chartreuse;
        width: calc((100% - 3 * #{$gutter-vertical}) / 4);
        float: left;
        border: 0.2rem solid black;
        text-align: center;

        &:not(:last-child){
            margin-right: $gutter-vertical;
           }
    }

    .block7 {
        color: white;
        background-color: chartreuse;
        width: calc((100% - 3 * #{$gutter-vertical}) / 4);
        float: left;
        border: 0.2rem solid black;
        text-align: center;

        &:not(:last-child){
            margin-right: $gutter-vertical;
           }
    }

    .block8 {
        color: white;
        background-color: chartreuse;
        width: calc((100% - 3 * #{$gutter-vertical}) / 4);
        float: left;
        border: 0.2rem solid black;
        text-align: center;

        &:not(:last-child){
            margin-right: $gutter-vertical;
           }
    }

    .block9 {
        color: white;
        background-color: chartreuse;
        width: calc((100% - 3 * #{$gutter-vertical}) / 4);
        float: left;
        border: 0.2rem solid black;
        text-align: center;
    }
    }
*/

.section-about {
//background-color: #f7f7f7;//
//background-color: lighten($color: $body-color2, $amount: 50%);
//background-color: rgba( $body-color2, .15);

padding: 25rem 0;
margin-top: -20vh;

.u-center-text {
    text-align: center;

    .about__main {
        font-size: 3rem;
        text-transform: uppercase;
        font-weight: 700;
        display: inline-block;
        background-image: linear-gradient(to right,$body-color1, $body-color2, $body-color3);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        transition: all .2s;
        letter-spacing: .2rem;
       
        &:hover{
            transform: skewY(9deg) skewX(12deg) scale(0.9);
            text-shadow: .5rem 1rem 2rem $body-color1;
         }
       }
}

.u-margin-bottom {
    margin-bottom: 10rem;
  }
}


.section-features {
 padding: 10rem 0;
 background-image: linear-gradient(to right bottom ,$body-color1, $body-color2, $body-color3) , url(../NavigationForTrip/img/claudio-schwarz-AHw0W1akIXk-unsplash.jpg);
 background-size: cover;
 transform: skewY(-5deg) skewX(-5deg);
 margin-top:-5rem;
 //background-color: rgba( $body-color2, .15);

/*& > * {
    transform: skewY(0deg);
}*/

 .features__columns {
    max-width: 150rem;
    margin: 0 auto;


    &:not(:last-child){
        margin-bottom: $gutter-bottom;
       }

      

       @include clearfix;
 }


 .columns__content {
    width: calc((100% - 3 * #{$gutter-vertical}) / 4);
    float: left;

    &:not(:last-child){
        margin-right: $gutter-vertical;
       }

 }

    .features-box {
     background-color: white;
     font-size: 1.5rem;
     padding: 2rem;
     text-align: center;
     border-radius: 0.4rem;
     box-shadow: 0 1.5rem 2rem lighten($color: black, $amount: 30%);
     transition: transform .2s;
     transition: all .3s;
     

     

        &__icon {
         font-size: 6rem;
         margin-bottom: 1rem;
         display: inline-block;
         background-image: linear-gradient(to right,$body-color1, $body-color2, $body-color3);
         background-clip: text;
         -webkit-background-clip: text;
         color: transparent;
        }

        &__title {
         margin-bottom: 2rem;
        }
    

        &:hover {
            transform: translateY(-2rem) scale(1.2);
            cursor: pointer;
        }
    }


    .features-box2 {
        background-color: white;
        font-size: 1.5rem;
        padding: 2rem;
        text-align: center;
        border-radius: 0.4rem;
        box-shadow: 0 1.5rem 2rem lighten($color: black, $amount: 30%);
        transition: transform .2s;
        transition: all .3s;
        
   
           &__icon {
            font-size: 6rem;
            margin-bottom: 1rem;
            display: inline-block;
            background-image: linear-gradient(to right,$body-color1, $body-color2, $body-color3);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
           }
   
           &__title {
            margin-bottom: 2rem;
           }
       
   
           &:hover {
               transform: translateY(-2rem) scale(1.2);
               cursor: pointer;
           }
       }


       .features-box3 {
        background-color: white;
        font-size: 1.5rem;
        padding: 2rem;
        text-align: center;
        border-radius: 0.4rem;
        box-shadow: 0 1.5rem 2rem lighten($color: black, $amount: 30%);
        transition: transform .2s;
        transition: all .3s;
        
   
           &__icon {
            font-size: 6rem;
            margin-bottom: 1rem;
            display: inline-block;
            background-image: linear-gradient(to right,$body-color1, $body-color2, $body-color3);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
           }
   
           &__title {
            margin-bottom: 2rem;
           }
       
   
           &:hover {
               transform: translateY(-2rem) scale(1.2);
               cursor: pointer;
           }
       }


       .features-box4 {
        background-color: white;
        font-size: 1.5rem;
        padding: 2rem;
        text-align: center;
        border-radius: 0.4rem;
        box-shadow: 0 1.5rem 2rem lighten($color: black, $amount: 30%);
        transition: transform .2s;
        transition: all .3s;
        
       
   
           &__icon {
            font-size: 6rem;
            margin-bottom: 1rem;
            display: inline-block;
            background-image: linear-gradient(to right,$body-color1, $body-color2, $body-color3);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
           }
   
           &__title {
            margin-bottom: 2rem;
           }
       
   
           &:hover {
               transform: translateY(-2rem) scale(1.2);
               cursor: pointer;
           }
       }
}

.section-corner {
    //background-color: #f7f7f7;
    padding: 25rem 0 50rem 0;
    margin-top: -10rem;
    //background-color: rgba( $body-color2, .15);

    .u-center-text {
        text-align: center;
    
        .corner__main {
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 700;
            display: inline-block;
            background-image: linear-gradient(to right,$body-color1, $body-color2, $body-color3);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            transition: all .2s;
            letter-spacing: .2rem;
           
            &:hover{
                transform: skewY(-9deg) skewX(-12deg) scale(0.9);
                text-shadow: .5rem 1rem 2rem $body-color1;
             }
           }
    }
}


.corner-container {
    max-width: 150rem;
    margin: 0 auto;
    margin-top: 10rem;

    &:not(:last-child){
        margin-bottom: $gutter-bottom;
       }

      

       @include clearfix;


       .corner-block {
           width: calc((100% - 2 * #{$gutter-vertical}) / 3);
           float: left;

           .card {
            perspective:200rem;
            -moz-perspective: 200rem;
            position: relative;
            height: 30rem;
              
               .card__side {
                height: 60rem;
                transition: all .7s ease; 
                color: white;
                font-weight: 600;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                backface-visibility: hidden;
                border-radius: 0.5rem;
                box-shadow:0 1.5rem 4rem lighten($color: black, $amount: 15%);
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                overflow: hidden;
                


                .card__picture {
                    height: 20rem;
                    background-size: cover;
                    background-blend-mode: soft-light;
                    outline: 0.5rem solid $body-color2;
                    outline-offset: 0.5rem;
                    border-radius: 0.8rem;
                   
                    
                    &--1 {
                        background-image: linear-gradient(to right,$body-color1, $body-color2, $body-color3),url(../NavigationForTrip/img/benjamin-voros-phIFdC6lA4E-unsplash.jpg);
                    }

                    &--2 {
                        background-image: linear-gradient(to right,$body-color1, $body-color2, $body-color3),url(../NavigationForTrip/img/marita-kavelashvili-ugnrXk1129g-unsplash.jpg);
                    }

                    &--3 {
                        background-image: linear-gradient(to right,$body-color1, $body-color2, $body-color3),url(../NavigationForTrip/img/joseph-barrientos-oQl0eVYd_n8-unsplash.jpg);
                    }
                }

                .card__heading {
                    color:darken($color: $body-color3, $amount: 15%);
                    font-size: 3rem;
                    font-weight: 500;
                    text-transform: uppercase;
                    border: 0.5rem solid white;
                    border-radius: 1rem;
                    padding: 0.5rem;
                }

                .card__details {
                    text-align: center;
                    padding: 0.5rem;

                    .details-list {
                        margin-top: -2rem;
                        text-transform: uppercase;
                        font-size: 2rem;
                        list-style: none;
                       
                        &__item {
                          margin-top: 2rem;
                          text-decoration: underline;
                          text-underline-offset: 0.5rem;
                        }
                    }
                }

                &--front {
                    background-color: lighten($color: $body-color2, $amount: 15%);
                }

                &--back {
                    background-color: lighten($color: $body-color2, $amount: 15%);
                    transform: rotateY(180deg);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    gap: 10rem;

                    

                    .card__side-icon {
                        width: 6rem;
                        outline: 1rem solid $body-color3;
                        outline-offset: 1rem;
                        border-radius: 100%;
                    }

                    .card__side-title {
                        font-size: 2rem;
                        text-transform: uppercase;
                        color: $body-color3;
                        border: 0.5rem solid white;
                        border-radius: 1rem;
                        padding: 0.5rem;
                    }

                    .card__side-btn {
                        text-transform: uppercase;
                        font-size: 2rem;
                        padding: 0.5rem;
                        background-color: white;
                        color: $body-color3;
                        border: 0.5rem solid $body-color3;
                        border-radius: 5rem;
                        transition: all .2s;

                        &:hover{
                           transform: scale(1.2);
                         }

                         &:active{
                            transform: scale(0.9);
                          }
                    }
                }
            }

               &:hover .card__side--front {
                transform: rotateY(180deg);
                }

                &:hover .card__side--back {
                    transform: rotateY(0);
                }
           }

           &:not(:last-child){
            margin-right: $gutter-vertical;
           }
       }
 }


 .section-stories {
    padding: 12rem 0;
    background-color: rgba( $body-color2, .26);
    border-radius: 3rem;
    position: relative;

    .u-stories-text {
        text-align: center;

        .stories__main {
            font-size: 3rem;
            text-transform: uppercase;
            font-weight: 700;
            display: inline-block;
            background-image: linear-gradient(to right,$body-color1, $body-color2, $body-color3);
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            transition: all .2s;
            letter-spacing: .2rem;

            &:hover {
                transform: skewX(-15deg) skewY(-5deg);
            }
        }
      }

      

      .stories {
          width: 75%;
          margin: 0 auto;
          box-shadow: 0 1rem 2rem black;
          border-radius: 1rem;
          margin-top: 10rem;
          padding: 4rem;
          padding-left: 5rem;
          transform: skewX(-15deg);
          background-color:lighten($color: $body-color2, $amount: 8%);
          

          &:hover .figure-hover-animation  {
            &--text {
                opacity: 1;
                transform:translate(-50%,-50%);
            }
        }


        
          

          &__figure {
              width: 15rem;
              height: 15rem;
              float: left;
              -webkit-shape-outside: circle(50% at 50% 50%);
              shape-outside: circle(50% at 50% 50%);
              -webkit-clip-path: circle(50% at 50% 50%);
              clip-path: circle(50% at 50% 50%);
              transform: translateX(-1rem) skewX(15deg);
              position: relative;
              box-shadow: 0 1rem 3rem black;

             

              &-img {
                  width: 100%;
                  height: 100%;
                  //filter: blur(0.1rem);
                  border:0.2rem solid darken($color: $body-color3, $amount: 30%);
                  border-radius: 100%;

                  
              }

              &-caption {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%,0);
                  //color: darken($color: $body-color3, $amount: 30%);
                  color: black;
                  text-transform: uppercase;
                  font-size: 1.8rem;
                  font-weight: 600;
                  text-align: center;
                  opacity: 0;
                  transition: all .5s;
                  backface-visibility: hidden;
              }

              &-caption2 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,0);
                //color: darken($color: $body-color3, $amount: 30%);
                color: white;
                text-transform: uppercase;
                font-size: 1.8rem;
                font-weight: 600;
                text-align: center;
                opacity: 0;
                transition: all .5s;
                backface-visibility: hidden;
            }

              /*&:hover  &-caption {
                opacity: 1;
                transform:translate(-50%,-50%);
            }*/
          }



          &__text {
            transform: skewX(15deg);
          }

         
          
        
         

          .stories__text-main {
              font-size: 3rem;
              font-weight: 600;
          }

          .stories__text-paragraph {
            font-size: 2rem;
            margin-top: $small-margin-top;
          }
      }


      .section-bg-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: .20;
        overflow: hidden;

        &__content {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

      
      .u-btnblock-position {
        margin-top: $big-margin-top;
        width: 100%;
      }

        .u-btn-position {
            margin: 0 auto;
            width: 100%;
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: 1fr;
            

            

            .stories__btn {
                justify-self: center;
                text-transform: uppercase;
                font-size: 2rem;
                padding: 0.5rem;
                color: darken($color: $body-color3, $amount: 30%);
                background-color: white;
                border: 0.3rem solid darken($color: $body-color3, $amount: 30%);
                border-radius: 1rem;
                transition: all .2s;
               
                 &:hover {
                     transform: scale(1.2);
                 }

                 &:active {
                    transform: scale(0.9);
                }
            }
        }
        

        
 }

      


@keyframes movefromLeft{
0% {
opacity: 0;
transform: translateX(-10rem);
}

80% {
    transform: translateX(2rem);
}

100% {
opacity: 1;
transform: translate(0);
}
}

@keyframes movetoLeft{
    0% {
        opacity: 0;
        transform: translateX(10rem);
        }
        
        80% {
            transform: translateX(-2rem);
        }
        
        100% {
        opacity: 1;
        transform: translate(0);
}
}

@keyframes globeRotate{
0% {
opacity: 0;

}

10% {
    transform: rotateX(36deg);
}

20% {
    transform: rotateX(72deg);
}

30% {
    transform: rotateX(108deg);
}

40%{
    transform: rotateX(144deg);
}

50%{
    transform: rotateX(180deg);
}

60%{
    transform: rotateX(216deg);
}

70%{
    transform: rotateX(252deg);
}

80%{
    transform: rotateX(288deg);
}

90%{
    transform: rotateX(324deg);
}

95%{
    transform: rotateX(360deg);
}

100%{
    opacity: 1;
    transform: translate(0);
}
}

@keyframes movetoBottom{
    0% {
        opacity: 0;
        transform: translateY(3rem);
        }
        
        
        100% {
        opacity: 1;
        transform: translate(0);
}
}

