*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  font-weight: 200;
  /*font-size: 16px;*/
  line-height: 1.2;
  color: #222;
  background-color: rgba(163, 143, 179, 0.25);
}

main {
  overflow: hidden;
}

.navigation__checkbox:checked ~ .navigation__background {
  -webkit-transform: scale(100);
          transform: scale(100);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__checkbox {
  display: none;
  /*&:checked {

  }*/
}
.navigation__btn {
  background-color: white;
  width: 7rem;
  height: 7rem;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  border-radius: 50%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow: 0 1rem 3rem black;
          box-shadow: 0 1rem 3rem black;
}
.navigation__btn:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__btn:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__btn .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__btn .navigation__icon::before {
  top: 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__btn .navigation__icon::after {
  top: 0;
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 0.2rem;
  background-color: rgba(68, 61, 76, 0.877);
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 7rem;
  right: 7rem;
  background-image: radial-gradient(rgba(119, 106, 133, 0.877), rgba(119, 106, 133, 0.877));
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1), -webkit-transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 0;
  opacity: 0;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.navigation__nav-items {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  color: black;
  width: 100%;
}
.navigation__nav-items .navigation-list {
  list-style: none;
  color: white;
  margin: 2rem;
}
.navigation__nav-items .navigation-list .navigation-link:link, .navigation__nav-items .navigation-list .navigation-link:visited {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  background-image: linear-gradient(100deg, transparent 50%, white 50%);
  padding: 1rem;
  background-size: 220%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.navigation__nav-items .navigation-list .navigation-link:hover, .navigation__nav-items .navigation-list .navigation-link:active {
  background-position: 100%;
  color: rgba(119, 106, 133, 0.877);
  -webkit-transform: translateX(1rem);
          transform: translateX(1rem);
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(128, 128, 145, 0.87)), color-stop(rgba(163, 143, 179, 0.877)), to(rgba(119, 106, 133, 0.877))), url(../NavigationForTrip/img/claudio-schwarz-AHw0W1akIXk-unsplash.jpg);
  background-image: linear-gradient(to right bottom, rgba(128, 128, 145, 0.87), rgba(163, 143, 179, 0.877), rgba(119, 106, 133, 0.877)), url(../NavigationForTrip/img/claudio-schwarz-AHw0W1akIXk-unsplash.jpg);
  background-size: cover;
  border-radius: 1rem;
  background-position: top;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 52.5rem, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 52.5rem, 0 100%);
  position: relative;
  /*.u-static-menu {
      position: fixed;
      right: 0;
      margin-top: 4rem;
      margin-right: 4rem;
      padding: 0.5rem;
      border: 0.2rem solid black;
      border-radius:100%;
      background-color: white;

      .menu-btn {
          height: 3rem;

          &:hover{
              cursor: pointer;
          }
      }
  }*/
}

.logo-box {
  position: absolute;
}

.logo {
  height: 8rem;
  margin-left: 4rem;
  margin-top: 4rem;
}

.logo:hover {
  cursor: pointer;
  height: 10rem;
  -webkit-animation-name: globeRotate;
          animation-name: globeRotate;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /*display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr auto;*/
  /*grid-template-areas: 'htext'
                       'btn';*/
  /*.btn {
      grid-area: btn;
      justify-self: center;
  }*/
  /*.btn-animated{
      animation: movetoBottom .5s ease-out .75s;
      animation-fill-mode: backwards;
  }*/
}
.box .header-text {
  color: #fff;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  text-align: center;
  /*grid-area: htext;


  display: grid;
  grid-auto-flow: row;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 'tmain'
                      'tbottom';*/
}
.box .header-text .header-text-main {
  display: block;
  font-size: 6rem;
  font-weight: 400;
  letter-spacing: 3.5rem;
  -webkit-animation-name: movefromLeft;
          animation-name: movefromLeft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.box .header-text .header-text-bottom {
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1.5rem;
  -webkit-animation-name: movetoLeft;
          animation-name: movetoLeft;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}
.box a#boxBtn {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.box .btn-white {
  background-color: #fff;
  color: #777;
  text-align: center;
  margin-top: 2rem;
}
.box .btn:link,
.box .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 3rem;
  display: inline-block;
  border-radius: 4rem 4rem 4rem 4rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  font-size: 1.6rem;
}
.box .btn:hover {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  -webkit-box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.2);
}
.box .btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.box .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 4rem 4rem 4rem 4rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.box .btn-white::after {
  background-color: #fff;
}
.box .btn:hover::after {
  -webkit-transform: scaleX(1.5) scaleY(1.3);
          transform: scaleX(1.5) scaleY(1.3);
  opacity: 0;
}

.section__content {
  max-width: 150rem;
  margin: 0 auto;
}
.section__content:not(:last-child) {
  margin-bottom: 6rem;
}
.section__content:after {
  content: "";
  display: table;
  clear: both;
}
.section__content .section__block1 {
  color: white;
  width: calc((100% - 8rem) / 2);
  float: left;
  text-align: center;
}
.section__content .section__block1:not(:last-child) {
  margin-right: 8rem;
}
.section__content .section__block1 .block1__maintext {
  color: black;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}
.section__content .section__block1 .u__marginbottom--small {
  margin-bottom: 1rem;
}
.section__content .section__block1 .paragraph {
  color: black;
  font-size: 2rem;
}
.section__content .section__block1 .paragraph:not(:last-child) {
  margin-bottom: 8rem;
}
.section__content .section__block1 .btn__link {
  font-size: 2rem;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(79, 79, 92, 0.87)), color-stop(rgba(60, 48, 70, 0.877)), to(rgba(94, 83, 105, 0.877)));
  background-image: linear-gradient(to right, rgba(79, 79, 92, 0.87), rgba(60, 48, 70, 0.877), rgba(94, 83, 105, 0.877));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.section__content .section__block1 .btn__link:hover {
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(rgba(128, 128, 145, 0.87)), color-stop(rgba(163, 143, 179, 0.877)), to(rgba(119, 106, 133, 0.877)));
  background: linear-gradient(to right, rgba(128, 128, 145, 0.87), rgba(163, 143, 179, 0.877), rgba(119, 106, 133, 0.877));
  padding: 0.5rem;
  border-bottom: 0.1rem solid black;
  border-right: 0.2rem solid black;
  -webkit-transform: translateY(-0.2rem);
          transform: translateY(-0.2rem);
  -webkit-box-shadow: 0 0.5rem 1.5rem black;
          box-shadow: 0 0.5rem 1.5rem black;
  border-radius: 0.8rem 0.8rem 0.8rem 0.8rem;
}
.section__content .section__block1 .btn__link:active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.section__content .section__block2 {
  color: white;
  text-align: center;
  width: calc((100% - 8rem) / 2);
  float: right;
}
.section__content .section__block2 .block2__composition {
  position: relative;
}
.section__content .section__block2 .block2__composition .composition__photo {
  position: absolute;
  width: 55%;
  border-radius: 0.2rem;
  -webkit-box-shadow: 0 2rem 3rem black;
          box-shadow: 0 2rem 3rem black;
  z-index: 1;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  outline-offset: 1.5rem;
  border-radius: 1rem;
}
.section__content .section__block2 .block2__composition .composition__photo:hover {
  outline: 1.5rem solid rgba(119, 106, 133, 0.877);
  -webkit-transform: scale(1.1) translateX(-0.5rem) rotate(360deg);
          transform: scale(1.1) translateX(-0.5rem) rotate(360deg);
  -webkit-box-shadow: 0 2.5rem 3.5rem black;
          box-shadow: 0 2.5rem 3.5rem black;
  z-index: 2;
}
.section__content .section__block2 .block2__composition .composition__photo--p1 {
  left: 0;
  top: -2rem;
}
.section__content .section__block2 .block2__composition .composition__photo--p2 {
  right: 0;
  top: 2rem;
}
.section__content .section__block2 .block2__composition .composition__photo--p3 {
  left: 20%;
  top: 10rem;
}
.section__content .section__block2:hover .composition__photo:not(:hover) {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

/*
.object2 {
    top: 5rem;
    max-width: 150rem;
    background-color: chocolate;
    margin:  0 auto;

    &:not(:last-child){
        margin-bottom: $gutter-bottom;
       }

       @include clearfix;


    .block3 {
        color: white;
        background-color: teal;
        width: calc((100% - 2 * 8rem) / 3);
        float: left;
        border: 0.2rem solid black;
        text-align: center;

        &:not(:last-child){
            margin-right: $gutter-vertical;
           }
    }

    .block4 {
        color: white;
        background-color: teal;
        border: 0.2rem solid black;
        text-align: center;
        width: calc((100% - 2 * 8rem) / 3);
        float: left;


        &:not(:last-child){
            margin-right: $gutter-vertical;
           }
    }

    .block5 {
        color: white;
        background-color: teal;
        border: 0.2rem solid black;
        text-align: center;
        width: calc((100% - 2 * 8rem) / 3);
        float: right;
    }
}


.object3 {
    top: 5rem;
    max-width: 150rem;
    background-color: navajowhite;
    margin:  0 auto;

    &:not(:last-child){
        margin-bottom: $gutter-bottom;
       }

       @include clearfix;


       .block6 {
        color: white;
        background-color: chartreuse;
        width: calc((100% - 3 * 8rem) / 4);
        float: left;
        border: 0.2rem solid black;
        text-align: center;

        &:not(:last-child){
            margin-right: $gutter-vertical;
           }
    }

    .block7 {
        color: white;
        background-color: chartreuse;
        width: calc((100% - 3 * 8rem) / 4);
        float: left;
        border: 0.2rem solid black;
        text-align: center;

        &:not(:last-child){
            margin-right: $gutter-vertical;
           }
    }

    .block8 {
        color: white;
        background-color: chartreuse;
        width: calc((100% - 3 * 8rem) / 4);
        float: left;
        border: 0.2rem solid black;
        text-align: center;

        &:not(:last-child){
            margin-right: $gutter-vertical;
           }
    }

    .block9 {
        color: white;
        background-color: chartreuse;
        width: calc((100% - 3 * 8rem) / 4);
        float: left;
        border: 0.2rem solid black;
        text-align: center;
    }
    }
*/
.section-about {
  padding: 25rem 0;
  margin-top: -20vh;
}
.section-about .u-center-text {
  text-align: center;
}
.section-about .u-center-text .about__main {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(128, 128, 145, 0.87)), color-stop(rgba(163, 143, 179, 0.877)), to(rgba(119, 106, 133, 0.877)));
  background-image: linear-gradient(to right, rgba(128, 128, 145, 0.87), rgba(163, 143, 179, 0.877), rgba(119, 106, 133, 0.877));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  letter-spacing: 0.2rem;
}
.section-about .u-center-text .about__main:hover {
  -webkit-transform: skewY(9deg) skewX(12deg) scale(0.9);
          transform: skewY(9deg) skewX(12deg) scale(0.9);
  text-shadow: 0.5rem 1rem 2rem rgba(128, 128, 145, 0.87);
}
.section-about .u-margin-bottom {
  margin-bottom: 10rem;
}

.section-features {
  padding: 10rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(128, 128, 145, 0.87)), color-stop(rgba(163, 143, 179, 0.877)), to(rgba(119, 106, 133, 0.877))), url(../NavigationForTrip/img/claudio-schwarz-AHw0W1akIXk-unsplash.jpg);
  background-image: linear-gradient(to right bottom, rgba(128, 128, 145, 0.87), rgba(163, 143, 179, 0.877), rgba(119, 106, 133, 0.877)), url(../NavigationForTrip/img/claudio-schwarz-AHw0W1akIXk-unsplash.jpg);
  background-size: cover;
  -webkit-transform: skewY(-5deg) skewX(-5deg);
          transform: skewY(-5deg) skewX(-5deg);
  margin-top: -5rem;
  border-radius: 1rem;
  /*& > * {
      transform: skewY(0deg);
  }*/
}
.section-features .features__columns {
  max-width: 150rem;
  margin: 0 auto;
}
.section-features .features__columns:not(:last-child) {
  margin-bottom: 6rem;
}
.section-features .features__columns:after {
  content: "";
  display: table;
  clear: both;
}
.section-features .columns__content {
  width: calc((100% - 3 * 8rem) / 4);
  float: left;
}
.section-features .columns__content:not(:last-child) {
  margin-right: 8rem;
}
.section-features .features-box {
  background-color: white;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 1.5rem 2rem #4d4d4d;
          box-shadow: 0 1.5rem 2rem #4d4d4d;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.section-features .features-box__icon {
  font-size: 6rem;
  margin-bottom: 1rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(128, 128, 145, 0.87)), color-stop(rgba(163, 143, 179, 0.877)), to(rgba(119, 106, 133, 0.877)));
  background-image: linear-gradient(to right, rgba(128, 128, 145, 0.87), rgba(163, 143, 179, 0.877), rgba(119, 106, 133, 0.877));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.section-features .features-box__title {
  margin-bottom: 2rem;
}
.section-features .features-box:hover {
  -webkit-transform: translateY(-2rem) scale(1.2);
          transform: translateY(-2rem) scale(1.2);
  cursor: pointer;
}
.section-features .features-box2 {
  background-color: white;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 1.5rem 2rem #4d4d4d;
          box-shadow: 0 1.5rem 2rem #4d4d4d;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.section-features .features-box2__icon {
  font-size: 6rem;
  margin-bottom: 1rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(128, 128, 145, 0.87)), color-stop(rgba(163, 143, 179, 0.877)), to(rgba(119, 106, 133, 0.877)));
  background-image: linear-gradient(to right, rgba(128, 128, 145, 0.87), rgba(163, 143, 179, 0.877), rgba(119, 106, 133, 0.877));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.section-features .features-box2__title {
  margin-bottom: 2rem;
}
.section-features .features-box2:hover {
  -webkit-transform: translateY(-2rem) scale(1.2);
          transform: translateY(-2rem) scale(1.2);
  cursor: pointer;
}
.section-features .features-box3 {
  background-color: white;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 1.5rem 2rem #4d4d4d;
          box-shadow: 0 1.5rem 2rem #4d4d4d;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.section-features .features-box3__icon {
  font-size: 6rem;
  margin-bottom: 1rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(128, 128, 145, 0.87)), color-stop(rgba(163, 143, 179, 0.877)), to(rgba(119, 106, 133, 0.877)));
  background-image: linear-gradient(to right, rgba(128, 128, 145, 0.87), rgba(163, 143, 179, 0.877), rgba(119, 106, 133, 0.877));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.section-features .features-box3__title {
  margin-bottom: 2rem;
}
.section-features .features-box3:hover {
  -webkit-transform: translateY(-2rem) scale(1.2);
          transform: translateY(-2rem) scale(1.2);
  cursor: pointer;
}
.section-features .features-box4 {
  background-color: white;
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 0.4rem;
  -webkit-box-shadow: 0 1.5rem 2rem #4d4d4d;
          box-shadow: 0 1.5rem 2rem #4d4d4d;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.section-features .features-box4__icon {
  font-size: 6rem;
  margin-bottom: 1rem;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(128, 128, 145, 0.87)), color-stop(rgba(163, 143, 179, 0.877)), to(rgba(119, 106, 133, 0.877)));
  background-image: linear-gradient(to right, rgba(128, 128, 145, 0.87), rgba(163, 143, 179, 0.877), rgba(119, 106, 133, 0.877));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.section-features .features-box4__title {
  margin-bottom: 2rem;
}
.section-features .features-box4:hover {
  -webkit-transform: translateY(-2rem) scale(1.2);
          transform: translateY(-2rem) scale(1.2);
  cursor: pointer;
}

.section-corner {
  padding: 25rem 0 50rem 0;
  margin-top: -10rem;
}
.section-corner .u-center-text {
  text-align: center;
}
.section-corner .u-center-text .corner__main {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(128, 128, 145, 0.87)), color-stop(rgba(163, 143, 179, 0.877)), to(rgba(119, 106, 133, 0.877)));
  background-image: linear-gradient(to right, rgba(128, 128, 145, 0.87), rgba(163, 143, 179, 0.877), rgba(119, 106, 133, 0.877));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  letter-spacing: 0.2rem;
}
.section-corner .u-center-text .corner__main:hover {
  -webkit-transform: skewY(-9deg) skewX(-12deg) scale(0.9);
          transform: skewY(-9deg) skewX(-12deg) scale(0.9);
  text-shadow: 0.5rem 1rem 2rem rgba(128, 128, 145, 0.87);
}

.corner-container {
  max-width: 150rem;
  margin: 0 auto;
  margin-top: 10rem;
}
.corner-container:not(:last-child) {
  margin-bottom: 6rem;
}
.corner-container:after {
  content: "";
  display: table;
  clear: both;
}
.corner-container .corner-block {
  width: calc((100% - 2 * 8rem) / 3);
  float: left;
}
.corner-container .corner-block .card {
  -webkit-perspective: 200rem;
          perspective: 200rem;
  -moz-perspective: 200rem;
  position: relative;
  height: 30rem;
}
.corner-container .corner-block .card .card__side {
  height: 60rem;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  color: white;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 1.5rem 4rem #262626;
          box-shadow: 0 1.5rem 4rem #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  overflow: hidden;
}
.corner-container .corner-block .card .card__side .card__picture {
  height: 20rem;
  background-size: cover;
  background-blend-mode: soft-light;
  outline: 0.5rem solid rgba(163, 143, 179, 0.877);
  outline-offset: 0.5rem;
  border-radius: 0.8rem;
}
.corner-container .corner-block .card .card__side .card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(128, 128, 145, 0.87)), color-stop(rgba(163, 143, 179, 0.877)), to(rgba(119, 106, 133, 0.877))), url(../NavigationForTrip/img/benjamin-voros-phIFdC6lA4E-unsplash.jpg);
  background-image: linear-gradient(to right, rgba(128, 128, 145, 0.87), rgba(163, 143, 179, 0.877), rgba(119, 106, 133, 0.877)), url(../NavigationForTrip/img/benjamin-voros-phIFdC6lA4E-unsplash.jpg);
}
.corner-container .corner-block .card .card__side .card__picture--2 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(128, 128, 145, 0.87)), color-stop(rgba(163, 143, 179, 0.877)), to(rgba(119, 106, 133, 0.877))), url(../NavigationForTrip/img/marita-kavelashvili-ugnrXk1129g-unsplash.jpg);
  background-image: linear-gradient(to right, rgba(128, 128, 145, 0.87), rgba(163, 143, 179, 0.877), rgba(119, 106, 133, 0.877)), url(../NavigationForTrip/img/marita-kavelashvili-ugnrXk1129g-unsplash.jpg);
}
.corner-container .corner-block .card .card__side .card__picture--3 {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(128, 128, 145, 0.87)), color-stop(rgba(163, 143, 179, 0.877)), to(rgba(119, 106, 133, 0.877))), url(../NavigationForTrip/img/joseph-barrientos-oQl0eVYd_n8-unsplash.jpg);
  background-image: linear-gradient(to right, rgba(128, 128, 145, 0.87), rgba(163, 143, 179, 0.877), rgba(119, 106, 133, 0.877)), url(../NavigationForTrip/img/joseph-barrientos-oQl0eVYd_n8-unsplash.jpg);
}
.corner-container .corner-block .card .card__side .card__heading {
  color: rgba(81, 72, 90, 0.877);
  font-size: 3rem;
  font-weight: 500;
  text-transform: uppercase;
  border: 0.5rem solid white;
  border-radius: 1rem;
  padding: 0.5rem;
}
.corner-container .corner-block .card .card__side .card__details {
  text-align: center;
  padding: 0.5rem;
}
.corner-container .corner-block .card .card__side .card__details .details-list {
  margin-top: -2rem;
  text-transform: uppercase;
  font-size: 2rem;
  list-style: none;
}
.corner-container .corner-block .card .card__side .card__details .details-list__item {
  margin-top: 2rem;
  text-decoration: underline;
  text-underline-offset: 0.5rem;
}
.corner-container .corner-block .card .card__side--front {
  background-color: rgba(200, 189, 210, 0.877);
}
.corner-container .corner-block .card .card__side--back {
  background-color: rgba(200, 189, 210, 0.877);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10rem;
}
.corner-container .corner-block .card .card__side--back .card__side-icon {
  width: 6rem;
  outline: 1rem solid rgba(119, 106, 133, 0.877);
  outline-offset: 1rem;
  border-radius: 100%;
}
.corner-container .corner-block .card .card__side--back .card__side-title {
  font-size: 2rem;
  text-transform: uppercase;
  color: rgba(119, 106, 133, 0.877);
  border: 0.5rem solid white;
  border-radius: 1rem;
  padding: 0.5rem;
}
.corner-container .corner-block .card .card__side--back .card__side-btn {
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0.5rem;
  background-color: white;
  color: rgba(119, 106, 133, 0.877);
  border: 0.5rem solid rgba(119, 106, 133, 0.877);
  border-radius: 5rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
}
.corner-container .corner-block .card .card__side--back .card__side-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.corner-container .corner-block .card .card__side--back .card__side-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.corner-container .corner-block .card:hover .card__side--front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.corner-container .corner-block .card:hover .card__side--back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}
.corner-container .corner-block:not(:last-child) {
  margin-right: 8rem;
}

.section-stories {
  padding: 12rem 0;
  background-color: rgba(163, 143, 179, 0.26);
  border-radius: 3rem 3rem 3rem 3rem;
  position: relative;
}
.section-stories .u-stories-text {
  text-align: center;
}
.section-stories .u-stories-text .stories__main {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(128, 128, 145, 0.87)), color-stop(rgba(163, 143, 179, 0.877)), to(rgba(119, 106, 133, 0.877)));
  background-image: linear-gradient(to right, rgba(128, 128, 145, 0.87), rgba(163, 143, 179, 0.877), rgba(119, 106, 133, 0.877));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  letter-spacing: 0.2rem;
}
.section-stories .u-stories-text .stories__main:hover {
  -webkit-transform: skewX(-15deg) skewY(-5deg);
          transform: skewX(-15deg) skewY(-5deg);
}
.section-stories .stories {
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0 1rem 2rem black;
          box-shadow: 0 1rem 2rem black;
  border-radius: 1rem;
  margin-top: 10rem;
  padding: 4rem;
  padding-left: 5rem;
  -webkit-transform: skewX(-15deg);
          transform: skewX(-15deg);
  background-color: rgba(183, 167, 195, 0.877);
}
.section-stories .stories:hover .figure-hover-animation--text {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.section-stories .stories__figure {
  width: 15rem;
  height: 15rem;
  float: left;
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  -webkit-transform: translateX(-1rem) skewX(15deg);
          transform: translateX(-1rem) skewX(15deg);
  position: relative;
  -webkit-box-shadow: 0 1rem 3rem black;
          box-shadow: 0 1rem 3rem black;
  /*&:hover  &-caption {
      opacity: 1;
      transform:translate(-50%,-50%);
  }*/
}
.section-stories .stories__figure-img {
  width: 100%;
  height: 100%;
  border: 0.2rem solid rgba(43, 38, 48, 0.877);
  border-radius: 100%;
}
.section-stories .stories__figure-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: black;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.section-stories .stories__figure-caption2 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  color: white;
  text-transform: uppercase;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.section-stories .stories__text {
  -webkit-transform: skewX(15deg);
          transform: skewX(15deg);
}
.section-stories .stories .stories__text-main {
  font-size: 3rem;
  font-weight: 600;
}
.section-stories .stories .stories__text-paragraph {
  font-size: 2rem;
  margin-top: 1.5rem;
}
.section-stories .section-bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.2;
  overflow: hidden;
  border-radius: 3rem 3rem 3rem 3rem;
}
.section-stories .section-bg-video__content {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 3rem 3rem 3rem 3rem;
}
.section-stories .u-btnblock-position {
  margin-top: 10rem;
  width: 100%;
}
.section-stories .u-btn-position {
  margin: 0 auto;
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}
.section-stories .u-btn-position .stories__btn {
  -ms-grid-column-align: center;
      justify-self: center;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 0.5rem;
  color: rgba(43, 38, 48, 0.877);
  background-color: white;
  border: 0.3rem solid rgba(43, 38, 48, 0.877);
  border-radius: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.section-stories .u-btn-position .stories__btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.section-stories .u-btn-position .stories__btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.section-registration {
  padding: 15rem 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(128, 128, 145, 0.87)), color-stop(rgba(163, 143, 179, 0.877)), to(rgba(119, 106, 133, 0.877)));
  background-image: linear-gradient(to right bottom, rgba(128, 128, 145, 0.87), rgba(163, 143, 179, 0.877), rgba(119, 106, 133, 0.877));
  border-radius: 3rem 3rem 3rem 3rem;
  margin-top: 10rem;
  text-align: center;
}
.section-registration__block {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(200, 189, 210, 0.877)), color-stop(50%, transparent)), url(../NavigationForTrip/img/claudio-schwarz-AHw0W1akIXk-unsplash.jpg);
  background-image: linear-gradient(90deg, rgba(200, 189, 210, 0.877) 50%, transparent 50%), url(../NavigationForTrip/img/claudio-schwarz-AHw0W1akIXk-unsplash.jpg);
  background-size: 100%;
  border-radius: 1rem;
  -webkit-box-shadow: 0 1.5rem 4rem black;
          box-shadow: 0 1.5rem 4rem black;
  height: 50rem;
}
.section-registration__block .registration-box__container {
  width: 50%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.section-registration__block .registration-box__container .submit-btn {
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 5rem;
  color: rgba(47, 37, 55, 0.877);
  border: 0.3rem solid rgba(47, 37, 55, 0.877);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.section-registration__block .registration-box__container .submit-btn:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.section-registration__block .registration-box__container .submit-btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.section-registration__block .registration-box__container .u-reg-text {
  margin-top: 5rem;
  text-align: center;
}
.section-registration__block .registration-box__container .registration-text--main {
  font-size: 3rem;
  text-transform: uppercase;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(79, 79, 92, 0.87)), color-stop(rgba(112, 89, 131, 0.877)), to(rgba(68, 61, 76, 0.877)));
  background-image: linear-gradient(to right, rgba(79, 79, 92, 0.87), rgba(112, 89, 131, 0.877), rgba(68, 61, 76, 0.877));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  letter-spacing: 0.2rem;
}
.section-registration__block .registration-box__container .registration-text--main:hover {
  -webkit-transform: skewX(-15deg) skewY(-5deg);
          transform: skewX(-15deg) skewY(-5deg);
}
.section-registration__block .registration-box__container .forms-container {
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
  -ms-grid-rows: 1fr 1rem 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
  justify-items: center;
}
.section-registration__block .registration-box__container .forms-container .form-label {
  font-size: 1.5rem;
  font-weight: 600;
}
.section-registration__block .registration-box__container .forms-container__content {
  padding: 1rem;
  width: 80%;
  font-family: inherit;
  font-size: 1.5rem;
  border-radius: 1rem;
  border: none;
  border-bottom: 0.3rem solid transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.section-registration__block .registration-box__container .forms-container__content:-moz-placeholder-shown + .form-label {
  opacity: 0;
  visibility: visible;
}
.section-registration__block .registration-box__container .forms-container__content:-ms-input-placeholder + .form-label {
  opacity: 0;
  visibility: visible;
}
.section-registration__block .registration-box__container .forms-container__content:placeholder-shown + .form-label {
  opacity: 0;
  visibility: visible;
}
.section-registration__block .registration-box__container .forms-container__content:focus {
  outline: none;
  -webkit-box-shadow: 0 1rem 2rem rgba(112, 89, 131, 0.877);
          box-shadow: 0 1rem 2rem rgba(112, 89, 131, 0.877);
  border-bottom: 0.3rem solid rgba(68, 61, 76, 0.877);
}
.section-registration__block .registration-box__container .forms-container__content:focus:invalid {
  border-bottom: 0.3rem solid #990000;
}
.section-registration__block .registration-box__container .forms-container__content::-webkit-input-placeholder {
  color: rgba(112, 89, 131, 0.877);
}

.footer {
  width: 100%;
  margin-top: 10rem;
  padding: 10rem 0;
  border-radius: 1rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(128, 128, 145, 0.87)), color-stop(rgba(163, 143, 179, 0.877)), to(rgba(119, 106, 133, 0.877)));
  background-image: linear-gradient(to right bottom, rgba(128, 128, 145, 0.87), rgba(163, 143, 179, 0.877), rgba(119, 106, 133, 0.877));
  position: relative;
  height: 30rem;
}
.footer .u-footer-panels-position {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 25rem;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  width: 90%;
  padding: 0.5rem;
}
.footer .u-footer-panels-position .footer-panel {
  padding: 0.5rem;
  border-top: 0.2rem solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2rem;
  text-transform: uppercase;
  width: auto;
  -ms-grid-column-align: start;
      justify-self: start;
}
.footer .u-footer-panels-position .footer-panel .text-hover--1 {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer .u-footer-panels-position .footer-panel .text-hover--1:hover {
  -webkit-transform: skewX(5deg) skewY(5deg);
          transform: skewX(5deg) skewY(5deg);
  cursor: pointer;
}
.footer .u-footer-panels-position .footer-panel .text-hover--2 {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer .u-footer-panels-position .footer-panel .text-hover--2:hover {
  -webkit-transform: skewX(5deg) skewY(5deg);
          transform: skewX(5deg) skewY(5deg);
  cursor: pointer;
}
.footer .u-footer-panels-position .footer-panel .text-hover--3 {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer .u-footer-panels-position .footer-panel .text-hover--3:hover {
  -webkit-transform: skewX(5deg) skewY(5deg);
          transform: skewX(5deg) skewY(5deg);
  cursor: pointer;
}
.footer .u-footer-panels-position .footer-panel .text-hover--4 {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer .u-footer-panels-position .footer-panel .text-hover--4:hover {
  -webkit-transform: skewX(5deg) skewY(5deg);
          transform: skewX(5deg) skewY(5deg);
  cursor: pointer;
}
.footer .u-footer-panels-position .footer-panel__text {
  font-size: 2rem;
  color: white;
}
.footer .u-footer-panels-position .footer-panel2 {
  padding: 0.5rem;
  border-top: 0.2rem solid white;
  width: auto;
  -ms-grid-column-align: end;
      justify-self: end;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2rem;
}
.footer .u-footer-panels-position .footer-panel2 .text-hover--5 {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer .u-footer-panels-position .footer-panel2 .text-hover--5:hover {
  -webkit-transform: skewX(3deg) skewY(3deg);
          transform: skewX(3deg) skewY(3deg);
  cursor: pointer;
}
.footer .u-footer-panels-position .footer-panel2 .text-hover--6 {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.footer .u-footer-panels-position .footer-panel2 .text-hover--6:hover {
  -webkit-transform: skewX(2deg) skewY(2deg);
          transform: skewX(2deg) skewY(2deg);
  cursor: pointer;
}
.footer .u-footer-panels-position .footer-panel2__text {
  font-size: 2rem;
  color: white;
}
.footer .u-footer-panels-position .footer-panel2__text .footer-link {
  text-decoration: none;
  color: white;
}
.footer__block {
  width: 100%;
  height: 30rem;
}
.footer__block .footer-icon {
  position: absolute;
  width: auto;
  height: auto;
  padding: 0.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__block .footer-icon .icon {
  width: 12rem;
  height: 12rem;
}
.footer__block .footer-icon__text {
  font-size: 3rem;
  font-weight: 600;
  color: white;
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(68, 61, 76, 0.877);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup .u-content-center {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
}
.popup__content {
  width: 75%;
  background-color: rgba(163, 143, 179, 0.877);
  -webkit-box-shadow: 0 2rem 4rem black;
          box-shadow: 0 2rem 4rem black;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border-radius: 1rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
.popup__content .popup-close {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  text-decoration: none;
  color: black;
}
.popup__content .popup-close:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.popup__content-left {
  width: 35%;
}
.popup__content-left .u-img-box {
  width: 100%;
  height: 50%;
}
.popup__content-left--img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}
.popup__content-right {
  width: 65%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}
.popup__content-right--title {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 500;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(30, 27, 34, 0.877)), color-stop(rgba(30, 27, 34, 0.877)), to(rgba(30, 27, 34, 0.877)));
  background-image: linear-gradient(to right, rgba(30, 27, 34, 0.877), rgba(30, 27, 34, 0.877), rgba(30, 27, 34, 0.877));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  letter-spacing: 0.2rem;
}
.popup__content-right--title:hover {
  -webkit-transform: skewY(5deg) skewX(6deg);
          transform: skewY(5deg) skewX(6deg);
  text-shadow: 0.5rem 1rem 2rem rgba(119, 106, 133, 0.877);
}
.popup__content-right--preference {
  font-size: 2rem;
  text-transform: uppercase;
}
.popup__content-right--paragraph {
  font-size: 1.8rem;
}
.popup__content-right--btn {
  text-decoration: none;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 1rem;
  border: 0.3rem solid;
  color: rgba(30, 27, 34, 0.877);
  background-color: white;
  border-radius: 3rem;
  width: 10rem;
}
.popup__content-right--btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 2rem 2.5rem black;
          box-shadow: 0 2rem 2.5rem black;
}
.popup__content-right--btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

@-webkit-keyframes movefromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes movefromLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(2rem);
            transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes movetoLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes movetoLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-2rem);
            transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes globeRotate {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: rotateX(36deg);
            transform: rotateX(36deg);
  }
  20% {
    -webkit-transform: rotateX(72deg);
            transform: rotateX(72deg);
  }
  30% {
    -webkit-transform: rotateX(108deg);
            transform: rotateX(108deg);
  }
  40% {
    -webkit-transform: rotateX(144deg);
            transform: rotateX(144deg);
  }
  50% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  60% {
    -webkit-transform: rotateX(216deg);
            transform: rotateX(216deg);
  }
  70% {
    -webkit-transform: rotateX(252deg);
            transform: rotateX(252deg);
  }
  80% {
    -webkit-transform: rotateX(288deg);
            transform: rotateX(288deg);
  }
  90% {
    -webkit-transform: rotateX(324deg);
            transform: rotateX(324deg);
  }
  95% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes globeRotate {
  0% {
    opacity: 0;
  }
  10% {
    -webkit-transform: rotateX(36deg);
            transform: rotateX(36deg);
  }
  20% {
    -webkit-transform: rotateX(72deg);
            transform: rotateX(72deg);
  }
  30% {
    -webkit-transform: rotateX(108deg);
            transform: rotateX(108deg);
  }
  40% {
    -webkit-transform: rotateX(144deg);
            transform: rotateX(144deg);
  }
  50% {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  60% {
    -webkit-transform: rotateX(216deg);
            transform: rotateX(216deg);
  }
  70% {
    -webkit-transform: rotateX(252deg);
            transform: rotateX(252deg);
  }
  80% {
    -webkit-transform: rotateX(288deg);
            transform: rotateX(288deg);
  }
  90% {
    -webkit-transform: rotateX(324deg);
            transform: rotateX(324deg);
  }
  95% {
    -webkit-transform: rotateX(360deg);
            transform: rotateX(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@-webkit-keyframes movetoBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes movetoBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}